h1 {
    background-color: brown;
    color: darkblue;}
strong {color:rgb(139, 7, 0)}

/* div{
    width: 900px;
    height: 800px;
} */

/* div h2{
    
} */

/* img{
    width: 900px;
    height: 800px;  
} */
#testin{
    width: 900px;
    height: 800px;  
}